body{
    margin:0;
}
.centered {
    clear:both;
    width: 75%;
    text-align: center;
}
@media (max-width: 600px) {
    header .row .header-item  {
        float: right;
        font-size: 1rem;
        padding: 0 0 0 5px !important;
        line-height: 40px  !important;
        border-left:none !important;
        margin-right:0 !important;
    }
    header .row .header-item a {
       font-size: 95%;
    }
    header .row .header-item:last-child {
        transition: background-color .3s;
        margin-right:0 !important;
    }
    #cart {
        width:100% !important;
        height:100% !important;
        margin:40px 0 0 0 !important;

    }
    #logo {
        display:none !important;
    }
    #logo a {
        display:none;
    }
    .nav-item{
         font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     }
    .nav-item a {
        font-size: 50%;
    }
    nav .row .nav-item{
        float:left !important;
    }
    #viewcart {
        font-size: 70%;
    }
}
.products h1, #home h1, .checkout h1{
    text-align: center;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
/*header*/
header {
    background-color: darkblue;
    width:100%;
    height:40px;
    margin-bottom: 20px;
}
header .row .header-item {
    float:right;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 25px 0 25px;
    cursor: pointer;
    line-height: 40px;
    border-left:1px solid #0086b3;
    margin-right:10px;
}
header .row .header-item:last-child {
  transition: background-color .3s;
  margin-right:10px;
}
header .row .header-item a {
    color:white;
    text-decoration: none;
}
header input {
    width:30px;
    padding:5px;
}
/*Cart*/
#cart {
    max-height: 400px;
    overflow: scroll;
    border:2px solid gainsboro;
    position: absolute;
    background-color: white;
    right:0;
    margin: 40px 10px 0px 0px;
}
#cart .items {
     padding: 20px 20px 0 20px;
     text-decoration: none;
     width:350px;
     max-height: 400px;
     overflow: scroll;
}
#empty-cart-message{
    padding:10px;
}
#empty-cart-text{
    padding:10px;
    font-size:80%;
    font-weight: bold;
}
#empty-cart-link a{
    padding:10px;
    text-decoration: none;
    color:deepskyblue;
}
/*cart footer*/
#cart-footer {
    margin-top: -2px;
    background-color: gainsboro;
    border-top:2px solid gainsboro;
    width: 100%;
    height: 115px
}
#empty-cart-footer {
    border-top:2px solid grey;
    margin: auto;
    width: 90%;
}

#cart-footer .row{
    float:right;
    width:100%;
}

#item-quantity{
    margin-left:10px;
    margin-top:10px;
    font-size: 70%;
}
#cart-subtotal {

    height: 50px;
}
#subtotal-text{
    color:black;
    margin-left:10px;
    text-align: left;
    float: left;
}

#subtotal-price{
    color:black;
    margin-right: 10px;
    text-align: right;
    float: right;
}

#cart-buttons{
    float:left;
    height:30px;
    width:100%
}
.cart-button{
    text-align: center;
    height:100%;
    width:50%;
}
#checkout {
    float:right;
}
#viewcart{
    float:left;
}
#viewcart a {
    background-color: grey;
}

#checkout a {
    background-color: #00AFEF;
}
.cart-button a {
    padding: 5px 50px 5px 50px;
    width:50px;
    height:100%;
    text-decoration: none;
    color:white;
}


.cart-item{
    border-bottom: 2px solid gainsboro;
}

.cart-item .row {
    width:100%;
    height:45px;
    margin:10px 0 10px 0;

}
.cart-item .row div {
    float:left;
    cursor: pointer;
}
.cart-item .row .item-title {
    margin-top:4px;
    font-weight: bold;
    font-size: 75%;
    max-height: 30px;
    overflow: hidden;
}
.item-remove {
    background-color: gainsboro;
    width:20px;
    height:20px;
    margin-left: 17px !important;
    text-align: center;
}
.item-title {
    width: 55%;
}
.item-image {
    width: 30%;
    text-align: center;
}
.item-price {
}
.item-total{
    float:right !important;
    margin-right: -45px!important;
}
#not-available{
    color: tomato;
    font-size: 85%;
}
.small-round {
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


/*nav*/
nav{
    height: 50px;
}

#logo {
    background-color: lightgray;
    float:left;
    margin-left:7%;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    margin-right: 7%;
    padding:5px 50px 5px 5px;
}
#logo a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:black;
}
nav .row .nav-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    margin-right: 7%;

}
nav .row .nav-item a {
    font-weight: 600;
    text-decoration: none;
    color:black;
}

/*warning*/
#warning {
    border: 1px solid tomato;
}

#warning-message{
    padding:5px;
    background-color:tomato;
    color:white;
}

#warning-products{
    padding:10px;
    font-size: 70%;
}
/*products*/
.products {
    margin: 0 auto;
    padding: 20px;
    max-width: 95%;
    background-color: #fff;
}
.products-grid {
    padding: 50px;
    margin-left: 25%;
}
@media ( min-width: 600px ) {
    .col-1-2 {
        float: left;
        width: 50%;
    }
}
#add:active {
    background-color: grey;
}
