body{
    margin:0;
}
header {
    background-color: darkblue;
    width:100%;
    height:40px;
}
header .row .header-item {
    float:right;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    line-height: 40px;
}
header .row .header-item a {
    color:white;
    text-decoration: none;
}
/*Cart*/
#cart {
    border:1px solid black;
    position: absolute;
    background-color: white;
    right:0;
    margin: 40px 10px 0px 0px;
}
#cart .items {
    padding: 20px;
    text-decoration: none;
    width:350px;
    min-height:200px;
    max-height: 400px;
    overflow: scroll;
}
.cart-item{
    border-bottom: 1px solid grey;
}

.cart-item .row {
    width:100%;
    height:45px;
    margin:10px 0 10px 0;

}
.cart-item .row div {
    float:left;
    cursor: pointer;
}
.cart-item .row .item-title {
    margin-top:4px;
    font-weight: bold;
}
.item-remove {
    width:10%;
}
.item-title {
    width:60%
}
.item-image {
    width: 30%;
    text-align: center;
}
.item-price {
    width: 100%;
    text-align: center;
}
.item-total{
    float:right !important;
}
.centered {
    clear:both;
    width: 100%;
    text-align: center;
}
header input {
    width:30px;
    padding:5px;
}

nav .row .nav-item {
    float:left;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 40px;
}

#warning {
    border: 1px solid orange;
}

#warning-message{
    padding:5px;
    background-color:orange;
    color:white;
}

#warning-products{
    padding:10px;
    font-size: 70%;
}